<h1>Hi, guys.</h1>
<p>Please sign in or <%= link_to('create an account', '/users/new')%>.</p>

<% if current_user %>
Signed in. <%= link_to "logout", logout_path %>
<% else %>
signed out
<% end %>

<%= form_tag(:sessions, method: 'post') do %>
<%= text_field_tag :username, nil, placeholder: "username" %>
<%= password_field_tag :password, nil, placeholder: "password" %>
<%= submit_tag %>
<% end %>