<div class="row text-center">
  <h1>Create an account</h1>
  <p class="tagline">Awesome. So stoked. So very very stoked.
  <br>
  Or did you want to <%= link_to('sign in', '/sessions/new') %>?</p>

</div>

<div class="row text-center signin">

  <%= form_for @user, class: 'form-inline' do |f| %>
    <div class="form-inline">
      <div class="form-group">
        <%= f.text_field :username, placeholder: "username", class: 'form-control' %>
        <%= f.email_field :password, placeholder: "email", class: 'form-control' %>
        <%= f.password_field :password, placeholder: "password", class: 'form-control' %>
        <%= f.submit "Create Account", class: 'btn btn-default' %>
      </div>
    </div>
  <% end %>

</div>



