<div class="row text-center">
  <h1>EDIT DAT ENTRAYYYYY</h1>
  <p class="tagline">Whaaaaaaa</p>
</div>


<div class="row text-center signin">
  <div class="col-md-10 col-md-offset-1">
    <%= form_for @story do |f| %>
      <div class="form-group">
        <%= f.text_field :title, class: 'form-control'%><br>

        <%= f.text_area raw(:html), class: 'form-control',  rows: "12" %>

        <%= f.file_field :headerimg, class: 'form-control' %>
        <%= image_tag @story.headerimg.url, class: 'img-responsive' if @story.headerimg? %>
      </div>
        <%= f.submit "Edit story", class: 'btn btn-success'%>
      </div>
    <% end %>
  </div>

</div>